@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import "reset.css";

/* components */
@import "components/header.css";
@import "components/main-link.css";

/*공통*/
.wrap {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "NanumSquare", sans-serif;
}
