@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@import "reset.css";

/* components */
@import "components/header.css";
@import "components/main-link.css";

/*공통*/
.wrap {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "NanumSquare", sans-serif;
}

.content__cont {
  position: relative;
}

.activity-area {
  padding: 120px 0;
}

.activity-area h2 {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 50px;
}

.activity-area__cont {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
}

.activity-area__item {
  box-shadow: 5px 5px 25px #d3d3d3;
}

.activity-area__item ul li:first-child {
  max-height: 145px;
}

.activity-area__item ul li:last-child {
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #333333;
}

/*  ------------------------------------ */

.family-area {
  background-color: #e1f0fc;
  padding: 120px 0;
}

.family-area h2 {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 50px;
}

.family-area__cont {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
}

.family-area__board,
.family-area__slide {
  background-color: #ffffff;
  border-radius: 15px 15px 0 0;
  width: 678px;
}

.family-area__board > ul {
  padding: 30px 40px 30px 40px;
}

.family-area__board-tit {
  border-radius: 15px 15px 0 0;
  background-color: #64a9e4;
  padding: 30px 0;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}

.family-area__wrap {
  line-height: 38px;
}

.family-area__wrap a {
  position: relative;
  color: #333333;
  width: 100%;
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  letter-spacing: -0.06em;
}

.family-area__wrap a .title:hover {
  color: #5497d0;
  text-decoration: underline;
}

.family-area__wrap a .date {
  position: absolute;
  right: 0;
  color: #878787;
}

.family-area__wrap a::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #64a9e4;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 16px 2px 0;
}

.family-area__btn-cont {
  text-align: center;
  margin-top: 26px;
}

.family-area__go-btn {
  display: inline-block;
  background-color: #64a9e4;
  border: none;
  border-radius: 30px;
  padding: 16px 28px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.06em;
}

.family-area__go-btn::after {
  content: "";
  display: inline-block;
  background-image: url(../img/go_btn.png);
  width: 17px;
  height: 14px;
  margin-left: 10px;
}

.family-area__slide-btn {
  display: block;
  border-radius: 15px 15px 0 0;
  background-color: #f0a956;
  padding: 30px 0;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
}

.family-area__slide a::after {
  content: "";
  display: inline-block;
  background-image: url(../img/go_btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 17px;
  margin-left: 10px;
}

.family-area__slide-img ul {
  position: relative;
}

.family-area__slide-img ul li {
  max-height: 324px;
}

.arrow__left,
.arrow__right {
  position: absolute;
  top: 134px;
  cursor: pointer;
}

.arrow__left {
  left: 0;
  margin-left: 17px;
}

.arrow__right {
  right: 0;
  margin-right: 17px;
}
