.header {
  display: flex;
  align-items: center;
  height: 90px;
}

.header__gnb {
  margin-left: 90px;
}

.header__gnb ul {
  display: flex;
}

.header__gnb ul li:not(:first-child) {
  margin-left: 70px;
}

.header__gnb ul li a {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  transition: all 0.25s ease-in-out;
}

.header__gnb ul li a:hover {
  color: #4f9bdc;
}

.header__search {
  background-color: #ddf1f9;
  width: 212px;
  height: 42px;
  border-radius: 30px;
  margin-left: 60px;
}

.header__search input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 200px;
  height: 42px;
  padding-left: 12px;
  background-image: url(/img/header/search_ico.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.header__sign-in {
  margin-left: 12px;
}

.header__login {
  margin-left: 10px;
}
